Package: grub-xen-host
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 5239
Depends: grub-xen-bin (= 2.04-1ubuntu26.7)
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (Xen host version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub.
 .
 This package arranges for GRUB binary images which can be used to boot a Xen
 guest (i.e. PV-GRUB) to be present in the control domain filesystem.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
