Package: grub-coreboot-bin
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1973
Depends: grub-common (= 2.04-1ubuntu26.7)
Conflicts: grub-linuxbios (<< 2.04-1ubuntu26.7)
Replaces: grub-common (<= 1.97~beta2-1), grub-coreboot (<< 1.99-1), grub-linuxbios, grub2 (<< 2.04-1ubuntu26.7)
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (Coreboot modules)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub.
 .
 This package contains GRUB modules that have been built for use with
 platforms running the Coreboot firmware.  It can be installed in parallel
 with other flavours, but will not automatically install GRUB as the active
 boot loader nor automatically update grub.cfg on upgrade unless
 grub-coreboot is also installed.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
