Package: grub-firmware-qemu
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1915
Recommends: qemu
Enhances: qemu
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRUB firmware image for QEMU
 This package contains a binary of GRUB that has been built for use as
 firmware for QEMU.  It can be used as a replacement for other PC BIOS
 images provided by seabios, bochsbios, and so on.
 .
 In order to make QEMU use this firmware, simply add `-bios grub.bin' when
 invoking it.
 .
 This package behaves in the same way as GRUB for coreboot, but doesn't
 contain any code from coreboot itself, and is only suitable for QEMU. If
 you want to install GRUB as firmware on real hardware, you need to use the
 grub-coreboot package, and manually combine that with coreboot.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
