Package: grub-efi-amd64
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 179
Depends: debconf (>= 0.5) | debconf-2.0, grub-common (= 2.04-1ubuntu26.7), grub2-common (= 2.04-1ubuntu26.7), grub-efi-amd64-bin (= 2.04-1ubuntu26.7), ucf
Conflicts: elilo, grub, grub-coreboot, grub-efi-ia32, grub-ieee1275, grub-legacy, grub-pc, grub-xen
Replaces: grub, grub-common (<= 1.97~beta2-1), grub-coreboot, grub-efi-ia32, grub-ieee1275, grub-legacy, grub-pc, grub2 (<< 2.04-1ubuntu26.7)
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (EFI-AMD64 version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub.
 .
 This is a dependency package for a version of GRUB that has been built for
 use with the EFI-AMD64 architecture, as used by Intel Macs (unless a BIOS
 interface has been activated).  Installing this package indicates that this
 version of GRUB should be the active boot loader.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
