Package: grub-rescue-pc
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 6362
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRUB bootable rescue images, version 2 (PC/BIOS version)
 This package contains three GRUB rescue images that have been built for use
 with the traditional PC/BIOS architecture:
 .
  - grub-rescue-floppy.img: floppy image.
  - grub-rescue-cdrom.iso: El Torito CDROM image.
  - grub-rescue-usb.img: USB image.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
