Package: grub-efi-amd64-signed-template
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 122
Section: admin
Priority: optional
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (EFI-AMD64 signing template)
 This package contains template files for grub-efi-amd64-signed.
 This is only needed for Secure Boot signing.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
