Package: grub-efi-amd64-dbg
Source: grub2
Version: 2.04-1ubuntu26.7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 22782
Depends: grub-common (= 2.04-1ubuntu26.7), grub-efi-amd64-bin (= 2.04-1ubuntu26.7)
Section: debug
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (EFI-AMD64 debug files)
 This package contains debugging files for grub-efi-amd64-bin.  You only
 need these if you are trying to debug GRUB using its GDB stub.
Original-Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
